@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root {
  height: 100%;
}
body {
  font-family: 'Inter', system-ui, sans-serif;
  color: #1A1F2B;
}
